@use "../styles/_variables" as *;
@use "tailwindcss";

:root {
  --background: #{$color-background};
  --foreground: #{$color-foreground};
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-y: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main{
  flex: 1;
  overflow-y: auto;
}
